Repository GopediaPro/neunexus_login, pull requests merged in 2025-07, with the labels that each got.

#48 Refactoring: 페이지 별 스타일 수정
  client/package-lock.json
  client/package.json
  client/public/sprite.svg
  client/src/components/mainpage/common/MenuBox.tsx
  client/src/components/mainpage/common/ScrollTable.tsx
  client/src/components/mainpage/common/StatusCard.tsx
  client/src/components/mainpage/common/calendar/AddSchedule.tsx
  client/src/components/mainpage/common/calendar/CustomToolbar.tsx
  client/src/components/mainpage/common/calendar/ScheduleCalendar.tsx
  client/src/components/mainpage/dashboard/Dashboard.tsx
  client/src/components/mainpage/dashboard/InventoryStatus.tsx
  client/src/components/mainpage/dashboard/SalesStatus.tsx
  client/src/components/mainpage/dashboard/StatsDashboard.tsx
  client/src/components/mainpage/layout/ContentLayout.tsx
  client/src/components/mainpage/layout/HeaderLayout.tsx
  client/src/components/mainpage/layout/LeftSidebarLayout.tsx
  client/src/components/mainpage/layout/MainContent.tsx
  client/src/components/mainpage/layout/RightSidebarLayout.tsx
  client/src/components/mainpage/sidebar/LeftMenuButton.tsx
  client/src/components/mainpage/sidebar/MenuLayout.tsx
  client/src/components/mainpage/sidebar/OrgContainer.tsx
  client/src/components/mainpage/sidebar/ScheduleContainer.tsx
  client/src/components/ui/Checkbox.tsx
  client/src/components/ui/Modal/Modal.tsx
  client/src/components/ui/Modal/ModalLayout.tsx
  client/src/constant/calendar.ts
  client/src/constant/dashboard.ts
  client/src/constant/menu.ts
  client/src/contexts/SidebarContext.tsx
  client/src/index.css
  client/src/main.tsx
  client/src/mocks/dummy/sidebar.ts
  client/src/mocks/dummy/status.ts
  client/src/pages/Login.tsx
  client/src/pages/Main.tsx
  client/src/pages/Signup.tsx
  client/src/shared/assets/icons/add-folder.svg
  client/src/shared/assets/icons/boxes.svg
  client/src/shared/assets/icons/cart.svg
  client/src/shared/assets/icons/check.svg
  client/src/shared/assets/icons/graph.svg
  client/src/shared/assets/icons/x-circle.svg
  client/src/shared/assets/icons/x.svg
  client/tailwind.config.js
Labels: 🎨 Html&Css, 🔨 Refactor

#54 Feat: automation card
  client/src/components/mainpage/dashboard/Automation.tsx
  client/src/components/mainpage/layout/ContentLayout.tsx
Labels: ✨ Feat, 🎨 Html&Css

#66 Refactoring: color style
  client/src/components/TestComponent.tsx
  client/src/components/layout/PrivateRoute.tsx
  client/src/components/layout/PublicRoute.tsx
  client/src/components/mainpage/calendar/AddSchedule.tsx
  client/src/components/mainpage/calendar/CustomToolbar.tsx
  client/src/components/mainpage/calendar/MiniCalendar.tsx
  client/src/components/mainpage/calendar/ScheduleCalendar.tsx
  client/src/components/mainpage/common/MenuBox.tsx
  client/src/components/mainpage/common/ScrollTable.tsx
  client/src/components/mainpage/common/StatusCard.tsx
  client/src/components/mainpage/common/ViewAllButton.tsx
  client/src/components/mainpage/dashboard/AutomationContainer.tsx
  client/src/components/mainpage/dashboard/CSStatus.tsx
  client/src/components/mainpage/dashboard/Dashboard.tsx
  client/src/components/mainpage/dashboard/InventoryStatus.tsx
  client/src/components/mainpage/dashboard/MenuContainer.tsx
  client/src/components/mainpage/dashboard/ProductStatus.tsx
  client/src/components/mainpage/dashboard/SalesStatus.tsx
  client/src/components/mainpage/dashboard/StatsDashboard.tsx
  client/src/components/mainpage/layout/HeaderLayout.tsx
  client/src/components/mainpage/layout/InfoSidebarLayout.tsx
  client/src/components/mainpage/layout/MainLayout.tsx
  client/src/components/mainpage/layout/MenuSidebarLayout.tsx
  client/src/components/mainpage/sidebar/NotificationContainer.tsx
  client/src/components/mainpage/sidebar/OrganizationContainer.tsx
  client/src/components/mainpage/sidebar/ScheduleContainer.tsx
  client/src/components/mainpage/sidebar/SidebarMenuButton.tsx
  client/src/components/management/HeaderManagement.tsx
  client/src/components/management/OrderToolbar.tsx
  client/src/components/management/ProductContainer.tsx
  client/src/components/management/ProductToolbar.tsx
  client/src/components/management/RuleEditContainer.tsx
  client/src/components/management/common/OrderGrid.tsx
  client/src/components/management/common/ProductGrid.tsx
  client/src/components/management/common/SelectSearchInput.tsx
  client/src/components/management/layout/OrderLayout.tsx
  client/src/components/management/layout/ProductLayout.tsx
  client/src/components/management/layout/RuleEngineLayout.tsx
  client/src/components/ui/Button.tsx
  client/src/components/ui/Checkbox.tsx
  client/src/components/ui/ErrorMessage.tsx
  client/src/components/ui/FormField.tsx
  client/src/components/ui/InputSuffix.tsx
  client/src/components/ui/Modal/Modal.tsx
  client/src/components/ui/Modal/ModalLayout.tsx
  client/src/components/ui/Textarea.tsx
  client/src/components/ui/Toggle.tsx
  client/src/components/ui/input.tsx
  client/src/index.css
  client/src/pages/LoginPage.tsx
  client/src/pages/SignupPage.tsx
  client/src/stories/ErrorMessage.stories.tsx
  client/tailwind.config.js
Labels: 🎨 Html&Css

#70 Feat: 주문 페이지 CRUD 기능 구현
  client/src/api/order/deleteBulkDownFormOrders.ts
  client/src/api/order/getDownFormOrders.ts
  client/src/api/order/postBulkDownFormOrders.ts
  client/src/api/order/putBlukDownFormOrders.ts
  client/src/api/product/getProducts.tsx
  client/src/components/TestComponent.tsx
  client/src/components/management/OrderToolbar.tsx
  client/src/components/management/common/OrderGrid.tsx
  client/src/components/management/layout/OrderLayout.tsx
  client/src/components/ui/Modal/OrderRegisterModal.tsx
  client/src/constant/apiEndPoint.ts
  client/src/constant/index.ts
  client/src/constant/order.ts
  client/src/hooks/orderManagement/useOrders.ts
  client/src/hooks/productManagement/useProductData.ts
  client/src/index.css
  client/src/routing.tsx
  client/src/shared/types/index.ts
  client/src/shared/types/order.types.ts
  client/src/utils/useOrderGridActions.ts
  client/tailwind.config.js
Labels: ✨ Feat, 🖥️ API

#75 Feat: batch api 기능 추가 및 스타일 수정
  client/src/api/order/getBatchInfoAll.ts
  client/src/api/order/getBatchInfoLatest.ts
  client/src/api/order/index.ts
  client/src/components/mainpage/calendar/MiniCalendar.tsx
  client/src/components/mainpage/common/MenuBox.tsx
  client/src/components/mainpage/common/ViewAllButton.tsx
  client/src/components/mainpage/dashboard/AutomationContainer.tsx
  client/src/components/mainpage/dashboard/MenuContainer.tsx
  client/src/components/mainpage/dashboard/StatsDashboard.tsx
  client/src/components/mainpage/sidebar/ScheduleContainer.tsx
  client/src/components/management/OrderToolbar.tsx
  client/src/components/ui/Button.tsx
  client/src/components/ui/Modal/BatchInfoModal.tsx
  client/src/constant/apiEndPoint.ts
  client/src/hooks/orderManagement/useOrders.ts
  client/src/hooks/useMenuSidebar.ts
  client/src/index.css
  client/src/shared/types/index.ts
  client/src/shared/types/order.types.ts
  client/src/utils/menubox.ts
  client/tailwind.config.js
Labels: 🎨 Html&Css, 🖥️ API, Fix

#85 Fix: table component 추가
  client/.gitignore
  client/src/components/mainpage/common/StatusTable.tsx
  client/src/components/mainpage/dashboard/InventoryStatus.tsx
  client/src/components/mainpage/dashboard/SalesStatus.tsx
Labels: 🎨 Html&Css, 🔨 Refactor

#88 Refactor: Update Jenkinsfile deployment configuration for multi-environment support
  Jenkinsfile
Labels: Chore, 🔨 Refactor

#98 Refactoring: order batch info
  client/src/components/management/common/OrderGrid.tsx
  client/src/components/ui/Modal/BatchInfoAllModal.tsx
  client/src/components/ui/Modal/BatchInfoModal.tsx
  client/src/contexts/OrderContext.tsx
  client/src/hooks/orderManagement/useOrderData.ts
  client/src/hooks/orderManagement/useOrderList.ts
  client/src/shared/types/order.types.ts
  client/src/utils/convertToHttps.ts
Labels: Fix

#99 Fix: order infinity scroll 및 brandi 오류수정
  client/public/sprite.svg
  client/src/components/management/common/OrderGrid.tsx
  client/src/components/ui/Modal/ExcelUploadModal.tsx
  client/src/constant/order.ts
  client/src/hooks/orderManagement/useOrderData.ts
  client/src/shared/assets/icons/link-chain.svg
  client/src/shared/assets/icons/upload-check.svg
Labels: Fix

#101 Refactoring: 주문관리 대량 업로드 기능 추가
  client/src/api/order/postExcelRunMacroBulk.ts
  client/src/components/TestComponent.tsx
  client/src/components/management/OrderToolbar.tsx
  client/src/components/management/common/OrderGrid.tsx
  client/src/components/ui/Modal/BatchInfoAllModal.tsx
  client/src/components/ui/Modal/BatchInfoModal.tsx
  client/src/components/ui/Modal/BulkResultModal.tsx
  client/src/components/ui/Modal/BulkUploadModal.tsx
  client/src/components/ui/Modal/ExcelBulkUploadModal.tsx
  client/src/components/ui/Modal/ExcelUploadModal.tsx
  client/src/components/ui/Modal/ResultBulkModal.tsx
  client/src/constant/apiEndPoint.ts
  client/src/contexts/OrderContext.tsx
  client/src/hooks/orderManagement/useOrderData.ts
  client/src/shared/types/order.types.ts
  client/src/stories/FormField.stories.tsx
  client/src/utils/formatDate.ts
Labels: ✨ Feat, 🖥️ API

#102 Fix: 주문생성 기능 수정 및 배치 업로드 조회 필터링 기능 구현 및 UI 수정
  client/src/api/order/getDownFormOrders.ts
  client/src/api/product/postProductRegistrationExcelImport.ts
  client/src/components/management/OrderToolbar.tsx
  client/src/components/management/ProductToolbar.tsx
  client/src/components/management/common/OrderGrid.tsx
  client/src/components/ui/Modal/BatchInfoModal.tsx
  client/src/constant/apiEndPoint.ts
  client/src/constant/order.ts
  client/src/contexts/OrderContext.tsx
  client/src/hooks/orderManagement/useOrderCreate.ts
  client/src/hooks/orderManagement/useOrderData.ts
  client/src/hooks/orderManagement/useOrderGridActions.ts
  client/src/hooks/orderManagement/useOrderList.ts
  client/src/hooks/productManagement/useProductImport.ts
  client/src/shared/types/order.types.ts
  client/src/utils/useOrderGridActions.ts
Labels: ✨ Feat, 🖥️ API, 🔨 Refactor
